<section>
    
    <h2>Cria sua própria sala</h2>
    
    <form 
    type="text"
    name="room-id" 
    action="/create-room"
    method="POST">
        
        <label class="sr-only" for="room-pass">Insira uma senha</label>
        <input 
        type="password" id="room-pass"
        placeholder="Insira uma senha"
        name="password">
        <button>
            <img id="img-users" src="/images/users-white.svg">
            Criar a sala
        </button>
        
    </form>
</section>

                